/* You can add global styles to this file, and also import other style files */
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
li.notes.active{
  background-color: #65ccea42;
};
